$color-black: #000;
$color-gray-dark: #222;
$color-gray-medium: #666;
$color-gray-light: #888;
$color-gray-extralight: #DDD;
$color-search-author: orange;
$color-search-keyword: green;

$package-list--avatar--width: 25;
$md-app-content-padding: 16px;

$package-list--author--font-size: 0.8em;

$monospace: "Fira Mono", "Roboto Mono", Consolas, Courier, Monospace;

$md-color-levels: (
  light: (
    background: #fff,
    background-variant: #fafafa,
    text-primary: rgba(#000, .87),
    text-accent: rgba(#000, .54),
    text-hint: rgba(#000, .38),
    disabled: rgba(#000, .26),
    disabled-background: rgba(#000, .12),
    highlight: rgba(#000, .12),
    icon: rgba(#000, .54),
    icon-disabled: rgba(#000, .38),
    divider: rgba(#000, .12),
    scrollbar: #757575,
    scrollbar-background: darken(#eee, 5%),
    tooltip: #616161
  ),
  dark: (
    background: #424242,
    background-variant: #303030,
    text-primary: #fff,
    text-accent: rgba(#fff, .7),
    text-hint: rgba(#fff, .5),
    disabled: rgba(#fff, .3),
    disabled-background: rgba(#fff, .12),
    highlight: rgba(#fff, .12),
    icon: #fff,
    icon-disabled: rgba(#fff, .5),
    divider: rgba(#fff, .12),
    scrollbar: #9E9E9E,
    scrollbar-background: #212121,
    tooltip: #fff
  )
);
