// Colors:
$color-black: #000;
$color-gray-dark: #222;
$color-gray-medium: rgba(0,0,0,.6);
$color-gray-light: #888;
$color-gray-extralight: #DDD;
$color-search-author: orange;
$color-search-keyword: green;
$color-white: #FFF;
$color-code: #bd4147;

$color-link--dark: $color-white;
$color-light-transparent: transparentize($color-gray-dark, .5);

// Spaces:
$package-list--avatar--width: 25;
$md-app-content-padding: 16px;

// Fonts:
$package-list--author--font-size: 0.8em;
$monospace: "Fira Mono", "Roboto Mono", Consolas, Courier, Monospace;

//Transitions:
$transition-smooth: all 500ms ease-in-out;

// Media queries:
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: (1280px - 16px), // Desktop gets a 16dp reduction
  xl: (1920px - 16px), // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
);
