$color-black: #000;
$color-gray-dark: #222;
$color-gray-medium: #666;
$color-gray-light: #888;
$color-gray-extralight: #DDD;

$package-list--avatar--width: 25;

$monospace: "Fira Mono", "Roboto Mono", Consolas, Courier, Monospace;
