// Colors:
$color-black: #000;
$color-gray-dark: #222;
$color-gray-medium: #666;
$color-gray-light: #888;
$color-gray-extralight: #DDD;
$color-search-author: orange;
$color-search-keyword: green;
$color-white: #FFF;

$color-link--dark: $color-white;
$color-light-transparent: transparentize($color-gray-dark, .5);

// Spaces:
$package-list--avatar--width: 25;
$md-app-content-padding: 16px;

// Fonts:
$package-list--author--font-size: 0.8em;
$monospace: "Fira Mono", "Roboto Mono", Consolas, Courier, Monospace;

//Transitions:
$transition-smooth: all 500ms ease-in-out;
